# Do not publish examples
examples/

# Build-Tool Config Files
wercker.yml
webpack.config.js

# VS Code
.vscode/

# TypeScript Source Files
# Helps ensure that the project does not cause crazy TypeScript build errors
# for consumers
*.ts